In [2]:
print("This is a notebook.")

This is a notebook.

In [ ]:
spark.sql("SELECT 1").show()

DataFrame[1: int]